/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/MyWebFont-regular.eot"),
  url("../fonts/MyWebFont-regular.svg"),
  url("../fonts/MyWebFont-regular.ttf"),
  url("../fonts/MyWebFont-regular.woff"),
  url("../fonts/MyWebFont-regular.woff2");
}
@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/MyWebFont-bold.eot"),
  url("../fonts/MyWebFont-bold.svg"),
  url("../fonts/MyWebFont-bold.ttf"),
  url("../fonts/MyWebFont-bold.woff"),
  url("../fonts/MyWebFont-bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/MyWebFont-italic.eot"),
  url("../fonts/MyWebFont-italic.svg"),
  url("../fonts/MyWebFont-italic.ttf"),
  url("../fonts/MyWebFont-italic.woff"),
  url("../fonts/MyWebFont-italic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/MyWebFont-bold-italic.eot"),
  url("../fonts/MyWebFont-bold-italic.svg"),
  url("../fonts/MyWebFont-bold-italic.ttf"),
  url("../fonts/MyWebFont-bold-italic.woff"),
  url("../fonts/MyWebFont-bold-italic.woff2");
  font-weight: bold;
  font-style: italic;
}
*/
html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body h1 *,
body h2 *,
body h3 *,
body h4 *,
body h5 *,
body h6 * {
  font-size: inherit;
  line-height: inherit;
}

body p {
  font-weight: normal;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  body p {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
}

body h1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin-bottom: 1rem;
  line-height: 6.2rem;
  color: #fff;
}

@media (max-width: 768px) {
  body h1 {
    font-size: 2.6rem;
    margin-bottom: 2.2rem;
  }
}

body h2 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 4rem;
}

@media (max-width: 768px) {
  body h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
}

body h3 {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  color: #2980b9;
  line-height: 3.2rem;
}

@media (max-width: 768px) {
  body h3 {
    font-size: 2.2rem;
    margin-bottom: 1.8rem;
  }
}

body h4 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 2.7rem;
}

@media (max-width: 768px) {
  body h4 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
}

body h5 {
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  body h5 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
  }
}

body h6 {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
}

@media (max-width: 768px) {
  body h6 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
}

body ul,
body ol {
  padding-left: 2rem;
  font-weight: normal;
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

body ul li,
body ol li {
  margin-bottom: 0.4rem;
}

body ul {
  list-style: disc inside;
}

body ol {
  list-style: decimal inside;
}

body a {
  color: #000;
}

body a:hover {
  text-decoration: underline;
}

body strong,
body b {
  font-weight: bold;
}

body em,
body i {
  font-style: italic;
}

body img {
  max-width: 100%;
  height: auto;
}

input[disabled] {
  opacity: 0.2;
}

form label {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

form input[type=text], form input[type=email], form input[type=number], form input[type=tel], form textarea, form select {
  display: block;
  width: 100%;
  height: 3.4rem;
  border: 1px solid #27ae60;
  border-radius: 5px;
  margin-bottom: 2rem;
}

a, input, textarea, button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

@media (max-width: 1367px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.7rem 2.4rem 0.8rem;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 2.4rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mg-bt-5rem {
  margin-bottom: 5rem;
}

.mg-bt-2rem {
  margin-bottom: 2rem;
}

.btn.btn--full:link, .btn.btn--full:visited {
  background-color: #1abc9c;
  color: #fff;
}

.btn.btn--full:hover, .btn.btn--full:active {
  background-color: #148f77;
}

.btn.down-btn:link, .btn.down-btn:visited {
  background-color: #2980b9;
  color: #fff;
  margin-right: 2rem;
}

.btn.down-btn:link:nth-child(2), .btn.down-btn:visited:nth-child(2) {
  margin-right: 0;
}

.btn.down-btn:active, .btn.down-btn:hover {
  background-color: #20638f;
}

.parallax {
  /* The image used */
  background-image: url("/assets/img/parallax.jpeg");
  height: 40rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  margin: 0 auto;
  padding: 2rem 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aaa {
  max-width: 100%;
  max-height: 85rem;
}

.hero {
  background-image: url("/assets/img/header_desktop.png");
  background-size: cover;
  background-size: 100% 100%;
}

.hero-content {
  padding: 38rem 36rem;
  color: #fff;
  height: 85rem;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 85rem;
}

.down-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  .nav {
    padding: 1.5rem;
  }
  .btn:link, .btn:visited {
    padding: 0.7rem 1.8rem 0.8rem;
  }
  .hero {
    width: 50%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  max-height: 57.5rem;
}

.first-par {
  padding: 15rem 0;
  max-width: 57.5rem;
}

.first-par h2 {
  color: #d35400;
}

.flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-height: 57.5rem;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.flex-reverse .first-par {
  text-align: right;
}

.seo-section {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #ecf0f1;
  text-align: center;
  padding: 5rem 5rem;
}

.seo-section h2 {
  color: #27ae60;
}

.myContainer {
  max-width: 120rem;
  margin: 0 auto;
}

.myContainer h2 {
  text-align: center;
}

.features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 3rem;
}

.features-grid .grid-item:last-child::after {
  position: absolute;
  content: "new";
  text-transform: uppercase;
  color: #c0392b;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d2edff;
  border-radius: 10px;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 2.2rem;
  row-gap: 2rem;
  position: relative;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fantasticTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 27rem;
  text-align: center;
}

.card-img img {
  border-radius: 50%;
  margin-bottom: 2rem;
}

.ceva {
  max-width: 64rem;
  margin: 0 auto;
  border: 1px solid #27ae60;
  padding: 4rem;
  position: relative;
}

.ceva h2 {
  color: #27ae60;
}

.ceva input[type="text"]:last-of-type {
  height: 13.6rem;
}

.ceva .down-btn:link {
  margin-left: auto;
  margin-right: 0;
}

.flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: end;
}

.footer {
  background-color: #ECF0F1;
}

.copyright {
  background-color: #2c3e50;
  color: #fff;
  height: 5.6rem;
  text-align: end;
}

.copyright .myContainer {
  padding: 1.5rem 0;
}

.grid-footer {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 38rem 38rem 1fr;
      grid-template-columns: 38rem 38rem 1fr;
  padding: 3rem;
}

.grid-footer h3 {
  margin-bottom: 2rem;
}

.grid-footer li {
  list-style: none;
}

.second-footer {
  text-align: center;
}

.footer-component {
  row-gap: 3rem;
}

.footer-component h3 {
  width: 38rem;
  color: #000;
}
/*# sourceMappingURL=styles.css.map */