// load includes
@import "includes/reset";
@import "includes/fonts";
@import "includes/variables";
@import "includes/mixins";
@import "includes/typography";
@import "includes/forms";
@import "includes/general";
@import "includes/componente";
// load partials
@import "partials/navHeroDown";
@import "partials/mainParagraf";
@import "partials/mainFeatures";
@import "partials/fantastic.scss";
@import "partials/form.scss";
@import "partials/footer.scss";
@import "partials/modal.scss";
@import "partials/accordion.scss";



