// nav buton

%btn-placeholder {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  height: 4rem;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 2.4rem;
  border: none;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

// margin bottom reutilizabil
.mg-bt-medium {
  margin-bottom: 5rem;
}

.mg-bt-light {
  margin-bottom: 2rem;
}

.btn {
  &:link,
  &:visited {
    @extend %btn-placeholder;
  }
  &.btn--full {
    &:link,
    &:visited {
      background-color: $light-green;
      color: #fff;

    }
    &:hover,
    &:active {
      background-color: darken($light-green, 10%);
    }
  }

  &.down-btn {
    &:link,
    &:visited {
      background-color: $blue;
      color: #fff;
      width: 17rem;
    }
    &:active,
    &:hover {
      background-color: darken($blue, 10%);
    }
  }
}

.parallax {
  /* The image used */
  background-image: url("/assets/img/parallax.jpeg");
  // width: 100vh;
  height: 40rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// mobile
@media (max-width: $phone-max) {
  .btn.down-btn:link, .btn.down-btn:visited {
    width: 15.5rem;
  } 
}

