.container {
  max-width: 120rem;
}

// nav
.nav {
  margin: 0 auto;
  padding: 2rem 36rem;
  display: flex;
  justify-content: space-between;
}

// hero
// .hero {
//   background-image: url("/assets/img/header_desktop.webp");
//   background-size: cover;
//   height: 100%;
// }
// .hero--2 {
//   background-image: url("/assets/img/back2.webp");
//   background-size: cover;
//   height: 100%;
// }
.hero-content {
  padding: 38rem 36rem;
  color: #fff;
  height: 85rem;
}

.first-container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #ecf0f1;
  text-align: center;
  padding: 5rem 5rem;
}

.first-container h2 {
  color: #27ae60;
}

.down-container {
  padding: 0 41rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  flex-direction: row;
  column-gap: 50px;
  max-height: 57.5rem;
}

.flex-reverse {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  flex-direction: row-reverse;
  max-height: 57.5rem;
  column-gap: 50px;
}
.flex-reverse .first-par {
  text-align: right;
}

.first-par {
  padding: 15rem 0;
  max-width: 57.5rem;
}
.first-par h2 {
  color: #d35400;
}

.grid figure {
  max-height: 57.5rem;
}

.features .heading-secondary {
  text-align: center;
}

// margin bottom reutilizabil
.mg-bt-5rem {
  margin-bottom: 5rem;
}
.mg-bt-2rem {
  margin-bottom: 2rem;
}

// features
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 3rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  background-color: #d2edff;
  border-radius: 10px;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  line-height: 2.2rem;
  row-gap: 2rem;



  
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
