html {
  font-size: 62.5%;
}

body {
  color: $primary-text-color;
  font-family: $primary-font;
  font-weight: normal;
  line-height: 1.2;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-font;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    * {
      font-size: inherit;
      line-height: inherit;
    }
  }
  p {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;

    @media (max-width: $phone-max) {
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }
  h1 {
    font-weight: 400;
    font-size: 4.5rem;
    margin-bottom: 1rem;
    line-height: 6.2rem;
    color: $white-text;
    @media (max-width: $phone-max) {
      font-size: 3.6rem;
      margin-bottom: 1rem;
    }
  }
  h2 {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 4rem;
    @media (max-width: $phone-max) {
      font-size: 2.6rem;
      margin-bottom: 1.5rem;
    }
  }
  h3 {
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    color: $blue;
    line-height: 3.2rem;
    @media (max-width: $phone-max) {
      font-size: 2.2rem;
      margin-bottom: 1.8rem;
    }
  }
  h4 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 2.7rem;
    @media (max-width: $phone-max) {
      font-size: 2rem;
      margin-bottom: 1.6rem;
    }
  }
  h5 {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    @media (max-width: $phone-max) {
      font-size: 1.8rem;
      margin-bottom: 1.4rem;
    }
  }
  h6 {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 1.8rem;
    @media (max-width: $phone-max) {
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }
  ul,
  ol {
    font-weight: normal;
    font-size: 1.6rem;
    
    li {
      margin-bottom: 0.4rem;
    }
  }
  ul {
    list-style: disc inside;
  }
  ol {
    list-style: decimal inside;
  }
  a {
    color: $primary-color;
    &:hover {
      text-decoration: underline;
    }
  }
  strong,
  b {
    font-weight: bold;
  }
  em,
  i {
    font-style: italic;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
