.accordion-bg {
  background-color: $light-gray;
  padding-bottom: 50px;
}

.accordion {
  & > h2 {
    padding: 50px 0;
    margin: 0;
  }
  & > .accordion-header:nth-child(2) {
    margin-top: 0;
  }
}

.accordion-header {
  // padding: 1em;
  background-color: $cream;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
.accordion-header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.3;
  &:first-of-type {
    margin-top: 0;
  }
}
.accordion-header > h2 {
  max-width: 1100px;
  padding: 15px 0 15px 25px;
  text-align: left;
}

.accordion-toggle {
  margin-left: 10px;
  height: 4px;
  background-color: #222;
  width: 33px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
  right: 33px;
}

.accordion-toggle::before {
  content: '';
  width: 4px;
  height: 33px;
  display: block;
  background-color: #222;
  position: absolute;
  top: -14px;
  left: 14px;
  border-radius: 2px;
}

.is-active .accordion-toggle::before {
  display: none;
}

.accordion-body {
  max-width: 1150px;
  display: none;
  padding: 20px;
  border-top: 0;
  margin: auto;
  background-color: $light-cream;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  & > p {
    margin-bottom: 15px;
  }
}
.accordion-body.is-active {
  display: block;
}

/////////////////////////////////
// pentru 768px ( ca in design)

@media (max-width: $phone-max) {
  .accordion-bg {
    padding-bottom: 30px;
  }
  .accordion {
    & > h2 {
      padding: 30px 0;
      margin: 0;
    }
  }

  .accordion-body {
    max-width: 693px;
    margin: auto;
  }

  .accordion-header > * {
    font-size: 22px;
    line-height: 1.25;
  }

  .accordion-header > h2 {
    max-width: 638px;
    padding: 15px 0 15px 25px;
  }
}
