.accordion-bg {
  background-color: #ecf0f1;
  padding-bottom: 5rem;
}

.accordion {
  & > h2 {
    padding: 5rem 0;
    margin: 0;
  }
  & > .accordion-header:nth-child(2) {
    margin-top: 0;
  }
}

.accordion-header {
  // padding: 1em;
  background-color: $cream;
  border-radius: 10px;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
.accordion-header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.4rem;
  line-height: 1.3;
  &:first-of-type {
    margin-top: 0;
  }
}
.accordion-header > h2 {
  max-width: 110rem;
  padding: 1.5rem 0 1.5rem 2.5rem;
  text-align: left;
}

.accordion-toggle {
  margin-left: 10px;
  height: 4px;
  background-color: #222;
  width: 33px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
  right: 3.3rem;
}

.accordion-toggle::before {
  content: '';
  width: 4px;
  height: 33px;
  display: block;
  background-color: #222;
  position: absolute;
  top: -14px;
  left: 14px;
  border-radius: 2px;
}

.is-active .accordion-toggle::before {
  display: none;
}

.accordion-body {
  max-width: 115rem;
  display: none;
  padding: 2rem;
  border-top: 0;
  margin: auto;
  background-color: $light-cream;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  & > p {
    margin-bottom: 1.5rem;
  }
}
.accordion-body.is-active {
  display: block;
}

/////////////////////////////////
// pentru 768px ( ca in design)

@media (max-width: $phone-max) {
  .accordion-bg {
    padding-bottom: 3rem;
  }
  .accordion {
    & > h2 {
      padding: 3rem 0;
      margin: 0;
    }
  }

  .accordion-body {
    max-width: 69.3rem;
    margin: auto;
  }

  .accordion-header > * {
    font-size: 2.2rem;
    line-height: 1.25;
  }

  .accordion-header > h2 {
    max-width: 63.8rem;
    padding: 1.5rem 0 1.5rem 2.5rem;
  }
}
