.cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.fantastic-team {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  text-align: center;
}

.card-img {
  & img {
    border-radius: 50%;
    margin-bottom: 20px;
  }
}

/////////////////////////////////
// pentru 768px ( ca in design)
.cards {
  padding: 0 50px;
}
