.form {
  max-width: 640px;
  margin: 0 auto;
  border: 1px solid $tertiary-text-color;
  padding: 40px;
  position: relative;
  & h2 {
    color: $tertiary-text-color;
    margin-bottom: 40px;
  }
  & input[type='text']:last-of-type {
    height: 136px;
  }
  & .down-btn:link {
    margin-left: auto;
    margin-right: 0;
  }
}

.flex-btn {
  display: flex;
  justify-items: end;
  & .btn.down-btn {
    width: 114px;
  }
}

/////////////////////////////
//pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  .form {
    max-width: unset;
    padding: 20px;
    & h2 {
      margin-bottom: 60px;
    }
  }
  .flex-btn {
    & .btn.down-btn {
      width: 107px;
    }
  }
}
