.form {
  max-width: 64rem;
  margin: 0 auto;
  border: 1px solid $tertiary-text-color;
  padding: 4rem;
  position: relative;
  & h2 {
    color: $tertiary-text-color;
    margin-bottom: 4rem;
  }
  & input[type='text']:last-of-type {
    height: 13.6rem;
  }
  & .down-btn:link {
    margin-left: auto;
    margin-right: 0;
  }
}

.flex-btn {
  display: flex;
  justify-items: end;
  & .btn.down-btn{
    width: 11.4rem;
  }
}

/////////////////////////////
//pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  .form {
    max-width: unset;
    padding: 2rem;
    & h2 {
      margin-bottom: 6rem;
    }
  }
  .flex-btn {
    & .btn.down-btn{
      width: 10.7rem;
    }
  }
}
