.grid {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.img {
  max-height: 575px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.first-par {
  padding: 150px 0;
  max-width: 575px;
  & h2 {
    color: $secondary-text-color;
  }
}

.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  column-gap: 50px;

  & .first-par {
    text-align: right;
  }
}

.flex--reverse {
  flex-direction: row-reverse;
  & img {
    transform: scaleX(-1);
  }
}

.seo-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ecf0f1;
  text-align: center;
  padding: 50px;
  & h2 {
    color: $tertiary-text-color;
  }
  & p:nth-of-type(2) {
    margin-top: 15px;
  }
  & .btn--full {
    margin: 0 auto;
  }
}

.btn--seo-1 {
  width: 186px;
}
.btn--seo-2 {
  width: 96px;
}

////////////////////////////////////
// laptop si tableta
@media (max-width: $laptop-max) {
  .flex {
    max-width: 1040px;
  }
  .seo-section {
    max-width: 1040px;
  }
  .first-par {
    max-width: 500px;
  }
}
@media (max-width: $tablet-max) {
  .flex,
  .seo-section,
  .first-par {
    max-width: 890px;
  }
  // .seo-section {
  //   max-width: 890px;
  // }

  // .first-par {
  //   max-width: 420px;
  // }
}

///////////////////////////////
//pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  .grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .flex {
    flex-direction: column;
    row-gap: 20px;
    & .first-par {
      text-align: left;
    }
  }

  section {
    padding: 0 15px;
  }
  .first-par {
    max-width: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .seo-section {
    padding: 20px;
  }
  .img {
    max-height: unset;
    align-items: center;
    max-height: 738px;
  }

  .btn--seo-1 {
    width: 170px;
  }
  .btn--seo-2 {
    width: 90px;
  }
}
