// .my-container {
//   max-width: $container;
//   margin: 0 auto;
// }

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 30px;

  & .grid-item:last-child::after {
    position: absolute;
    content: 'new';
    text-transform: uppercase;
    color: #c0392b;
    top: 10px;
    right: 10px;
    font-size: 12px;
    line-height: 16px;
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  background-color: #d2edff;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  line-height: 22px;
  row-gap: 20px;
  position: relative;
}

.logos {
  display: flex;
  justify-content: center;
}

////////////////////////////////////
// laptop si tableta
@media (max-width: $laptop-max) {
  // .my-container {
  //   max-width: 1040px;
  // }
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $tablet-max) {
  // .my-container {
  //   max-width: 890px;
  // }
}

/////////////////////////////
//pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  .features-grid {
    grid-template-columns: 1fr;
    & p {
      max-width: 430px;
      text-align: center;
    }
  }
}
