/* 1. Ensure this sits above everything when visible */

.modal,
.modal-2 {
  position: absolute;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible,
.modal-2.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay,
.modal-2.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  border-radius: 1rem;
  z-index: 9999;
  top: -0.4rem;
  left: 9%;
  width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
  &.second {
    top: 2.5rem;
  }
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition,
.modal-2.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-content {
  padding: 30px;
  font-size: 16px;
}

.modal-header {
  position: relative;
}

.icon-modal {
  color: $orange;
  font-size: 3rem;
}
.icon-modal:hover {
  color: darken($orange, 5%);
}

.modal-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  padding: 1em;
  background: none;
  border: 0;
}

.modal-close:hover {
  color: #777;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

/////////////////////////////////
// pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  .modal-wrapper {
    width: 73.8rem;
    top: -16rem;
    left: 0;
    &.second {
      top: -10rem;
    }
  }

  .modal-content {
    padding: 2rem;
    text-align: left;
  }
}
