// nav
.header {
  padding: 20px 360px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: $light-gray;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: $gray;
  font-weight: 500;
  font-size: 18px;
  &.btn--full {
    width: 120px;
  }
}

/* STICKY NAVIGATION */

.nav-open {
  width: 100%;
  padding: 10px 360px;
  z-index: 999;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}
.sticky {
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 10px 360px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  & img {
    transform: scale(0.65);
  }
  transition: all ease 0.5s;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 48px;
  width: 48px;
  color: $light-green;
}
.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.sticky .hero {
  margin-top: 96px;
}

.hero {
  overflow: hidden;
  position: relative;
  // box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    rgba(10, 10, 10, 0.52),
    rgba(20, 18, 20, 0.73)
  );

  & > img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
// hero


.slick-dots li.slick-active button:before {
  color: $green;
}
.slick-dots {
  bottom: 15px;
}
.slick-dots li button:before {
  font-size: 16px;
  color: #c4c4c4;
  opacity: unset;
  &:hover {
    color: $green;
  }
}

.hero-content {
  display: flex;
  max-width: 1200px;
  height: 850px;
  color: $white-text;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

// download
.down-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & div:nth-child(3) {
    display: flex;
    gap: 20px;
  }
}

//////////////////////////////////////
// pc mic
@media (max-width: $small-pc) {
  .hero-content {
    max-height: 620px;
  }
  .header {
    padding: 20px 100px;
  }
}

////////////////////////////////////
// laptop si tableta
@media (max-width: $laptop-max) {
  .header {
    padding: 20px 80px;
  }

  .hero-content {
    max-height: 530px;
    padding: 0 80px;
  }
}

@media (max-width: $tablet-max) {
  .hero-content {
    max-height: 440px;
    padding: 0 50px;
  }
  .header {
    padding: 20px 50px;
  }
}

/////////////////////////////////
// pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  /* MOBILE NAVIGATION */
  .main-nav-list {
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    & li:nth-last-child(1) {
      padding-top: 10px;
    }
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 289px;
    transform: translateX(100%);

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all 0.5s ease-in;
    padding: 15px;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .header {
    max-width: unset;
    padding: 15px;
  }

  .btn:link,
  .btn:visited {
    font-size: 16px;
  }

  .hero-content {
    max-height: 340px;
    padding: 0 15px;
  }

  .mg-bt-medium {
    margin-bottom: 30px;
  }
  .mg-bt-light {
    margin-bottom: 15px 0;
  }
}
/////////////////////////////////////
// pentru 576px
@media (max-width: $phone-small-max) {
  .hero-content {
    max-height: 260px;
  }
}
