// nav
.header {
  padding: 2rem 36rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}


.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  &.btn--full{
    width: 12rem;
  }
}

/* STICKY NAVIGATION */
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding: 1rem 36rem;
  background-color: #ecf0f1;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
  & img {
    transform: scale(0.65);
  }
  transition: all 0.3s ;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $light-green;
}
.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.sticky .hero {
  margin-top: 9.6rem;
}

// hero
.hero {
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.52),
      rgba(20, 18, 20, 0.73)
    ),
    url('/assets/img/header_desktop.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  display: flex;
  max-width: 120rem;
  height: 85rem;
  color: #fff;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  // align-items: center;
}

// download
.down-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & div:nth-child(3){
    display: flex;
    gap: 2rem;
  }
}

//////////////////////////////////////
// pc mic
@media (max-width: $small-pc) {
  .hero-content {
    max-height: 62rem;
  }
  .header {
    padding: 2rem 10rem;
  }
}

////////////////////////////////////
// laptop si tableta
@media (max-width: $laptop-max) {
  .header {
    padding: 2rem 8rem;
  }

  .hero-content {
    max-height: 53rem;
    padding: 0 8rem;
  }
}

@media (max-width: $tablet-max) {
  .hero-content {
    max-height: 44rem;
    padding: 0 5rem;
  }
  .header {
    padding: 2rem 5rem;
  }
}

/////////////////////////////////
// pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  /* MOBILE NAVIGATION */
  .main-nav-list {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-end;
    & li:nth-last-child(1) {
      padding-top: 1rem;
    }
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28.9rem;
    transform: translateX(100%);

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all 0.5s ease-in;
    padding: 1.5rem;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;

    // &:last-of-type {
    //   padding-bottom: 2.5rem;
    // }
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .header {
    max-width: unset;
    padding: 1.5rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
  }



  .hero-content {
    max-height: 34rem;
    padding: 0 1.5rem;
  }

  .mg-bt-medium {
    margin-bottom: 3rem;
  }
  .mg-bt-light {
    margin-bottom: 1.5rem 0;
  }
}
/////////////////////////////////////
// pentru 576px
@media (max-width: $phone-small-max) {
  .hero-content {
    max-height: 26rem;
  }
}
