.quote {
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  background-color: $turquoise;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
  &::after {
    position: absolute;
    content: url(/assets/img/right-quote-sign\ 3.svg);
    bottom: -15px;
    right: -15px;
  }
  &::before {
    position: absolute;
    content: url(/assets/img/right-quote-sign\ 3.svg);
    transform: rotate(180deg);
    top: -15px;
    left: -15px;
  }
}

.quote-content {
  padding: 123px 100px 140px 100px;
}

.quote-text {
  margin-bottom: 15px;
}
.quote-author {
  color: $blue;
}

/////////////////////////////////
// pentru 768px ( ca in design)
@media (max-width: $phone-max) {
  .quote {
    &::after {
      bottom: 7px;
      right: 10px;
    }
    &::before {
      transform: rotate(180deg);
      top: 5px;
      left: 10px;
    }
  }
}
