.quote {
  max-width: 80rem;
  height: 40rem;
  margin: 0 auto;
  background-color: $turquoise;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
  &::after{
    position: absolute;
    content: url(/assets/img/right-quote-sign\ 3.svg);
    bottom: -1.5rem;
    right: -1.5rem;
  }
  &::before{
    position: absolute;
    content: url(/assets/img/right-quote-sign\ 3.svg);
    transform: rotate(180deg);
    top: -1.5rem;
    left: -1.5rem;
  }
}

.quote-content{
  padding: 12.3rem 10rem 14rem 10rem;
}

.quote-text{
  margin-bottom: 1.5rem;
}
.quote-author{
  color: $blue;
}

/////////////////////////////////
// pentru 768px ( ca in design)

@media (max-width: $phone-max) {
  .quote{
    &::after{
      bottom: 0.7rem;
      right: 1rem;
    }
    &::before{
      transform: rotate(180deg);
      top: .5rem;
      left: 1rem;
    }
  }
}